header.header
    ul.header-menu
        li.header-menu-li.header-menu-back
            a(href='#')
        li.header-menu-li.header-menu-info
            a(href='#')
        li.header-menu-li.header-menu-faq
            a(href='#')
        li.header-menu-li.header-menu-settings.active
            a(href='#')