doctype html
html(lang="en")
    // head
    include ../includes/head

    //body
    body
        include ../mixins/mixins

        // header
        include ../includes/header

        // content
        block page

        // scripts
        include ../includes/scripts
        // scripts end